@model LTQLWEB3.Models.NHOMSP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="header">
    <ol class="breadcrumb">
        <li><a href="#">Trang chủ</a></li>
        <li><a href="#">Nhóm sản phẩm</a></li>
        <li class="active">Xóa nhóm sản phẩm</li>
    </ol>
</div>

<div>
    <h4>Bạn có chắc chắn muốn xóa nhóm sản phẩm này không?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNhomSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhomSP)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
