
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="header">
    <ol class="breadcrumb">
        <li><a href="#">Trang chủ</a></li>
    </ol>
</div>

